.predictions-header {
  height: 45px;
}

.new-prediction-btn-position
{
  right: 15%;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .new-prediction-btn-position
  {
    right: 1%;
  }
}

.section-title
{
  padding-bottom: 10px;
  padding-top: 10px;
}
