.text-area-lable
{
  display: block;
  margin-bottom: 10px;
}

.text-area
{
  margin-top: 80px;
}

.show-hash span
{
  width: 100%;
  border: 1px solid #cccccc;
  display: inline-block;
}

.show-hash
{
  margin-top: 20px;
}

.show-hash label
{
  display: block;
  margin-bottom: 10px;
}

.hash {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
  box-sizing: border-box;
}

.create-btn
{
  display: inline-block;
}

.back-btn
{
  display: inline-block;
}

.show-hash-sec-btn
{
  /* margin: 10px,0px,0px,15%; */
  margin-top: 10px;
}
