.text-area-lable
{
  display: block;
  margin-bottom: 10px;
}

.text-area
{
  margin-top: 80px;
}

.show-hash span
{
  width: 100%;
  border: 1px solid #cccccc;
  display: inline-block;
}

.show-hash
{
  margin-top: 20px;
}

.show-hash label
{
  display: block;
  margin-bottom: 10px;
}

.btn-area
{
  margin-top: 20px;
}

.confirmation-box {
  margin-top: 10px;
}

.confirmation-label {
  display: inline-block;
  line-height: 40px;
  position: absolute;
}

.confirmation-icon {
  margin: 3px 0 0 80px;
  display: inline-block;
}
